:root {
    --color-primary-100: rgba(255, 255, 255, 1);
    --color-primary-100-30: rgba(255, 255, 255, 0.3);
    --color-primary-900: rgba(7, 11, 51, 1);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    color: var(--color-primary-100);
}

html, body,
.banner__wrapper {
    width: 100%;
    height: 100%;
}

html, body {
    margin: 0;
    padding: 0;
}

.banner {
    position: relative;
    overflow: hidden;
    max-width: 420px;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
            196.56deg,
            rgba(0, 0, 0, 9.5e-05) 10.43%,
            rgba(21, 5, 52, 0.641925) 30.66%,
            rgba(0, 0, 0, 0.855327) 37.66%,
            rgba(9, 1, 25, 0.95) 45.57%,
            rgba(0, 0, 0, 0.95) 77.38%,
            rgba(5, 1, 14, 0.95) 94.32%
    ),
    image-set(
            url('./assets/banner-img.png') 1x,
            url('./assets/banner-img@2x.png') 2x,
            url('./assets/banner-img@3x.png') 3x
    ),
    url('./assets/banner-img.png'),
    linear-gradient(136.59deg, #DA28FF 3.34%, #7FCCFF 92.15%);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.banner::before {
    content: '';
    position: absolute;
    top: -10%;
    left: 50%;
    width: 403px;
    height: 113px;
    background: rgba(214, 19, 252, 0.62);
    border-radius: 50%;
    transform: translateX(-50%);
    filter: blur(101px);
    pointer-events: none;
}

.banner__close {
    position: absolute;
    top: 4rem;
    left: 1rem;
}

.banner__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner__content__title {
    text-align: center;
    font-size: 2.625rem;
    line-height: 2.875rem;
    font-weight: 900;
}

.banner__slogans {
    padding: 0 1.5rem;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.banner__slogans-item {
    position: relative;
    width: 106px;
    height: 139px;
    border-radius: 12px;
    overflow: hidden;
}

.banner__slogans-img {
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.banner__slogans-item:nth-child(1)::before {
    content: '';
    position: absolute;
    width: 139px;
    height: 73px;
    top: -10%;
    left: 40%;
    background: #00BFFF;
    filter: blur(62px);
    border-radius: 100%;
    transform: translateX(-50%);
    mix-blend-mode: overlay;
}

.banner__slogans-item::after {
    content: '';
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(
            180deg, rgba(0, 0, 0, 0) 0%, rgba(4, 6, 26, 0) 62.04%, rgba(6, 9, 37, 0.56) 76.68%, #15072f 100%
    );
}

.banner__slogans-item:not(:first-child)::after {
    background-color: rgba(255, 130, 228, 0.24);
}

.banner__slogans-text {
    position: absolute;
    z-index: 1;
    bottom: 12px;
    left: 9px;
    font-size: 0.75rem;
}

.banner__toolbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.banner__toolbar-link {
    text-decoration: underline;
    font-weight: 200;
    font-size: 0.813rem;
    line-height: 1.125rem;
    opacity: 0.3;
}

.banner__subscriptions {
    width: 100%;
    padding: 0 1.5rem;
}

.banner__subscriptions-plan {
    position: relative;
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 0.563rem 3.5rem 0.563rem 1.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(11px);
    background: rgba(255, 255, 255, 0.1);
    user-select: none;
    -webkit-user-select: none;
    transition: all 0.3s ease;
}

.banner__subscriptions-plan label,
.banner__subscriptions-plan input[type="radio"] {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}

.banner__subscriptions-plan:has(input[type="radio"]:checked) {
    border-color: var(--color-primary-100);
    background: var(--color-primary-100-30);
}

.banner__subscriptions-price {
    opacity: 0.7;
}

.banner__subscriptions-title {
    font-weight: 600;
}

.banner__subscriptions-btn {
    all: unset;
    width: 100%;
    border-radius: 100px;
    padding: 1rem 0;
    color: var(--color-primary-900);
    background: var(--color-primary-100);
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    line-height: 1.5rem;
}

@media only screen
and (min-device-width: 390px)
and (-webkit-device-pixel-ratio: 3) {
    .banner__slogans-item {
        width: 110px;
        height: 146px;
        border-radius: 16px;
        background-color: rgba(255, 255, 255, 0.2);
    }

    .banner__slogans-item::after {
        background-color: rgba(255, 130, 228, 0.24);
    }

    .banner__slogans-text {
        left: 8px;
    }
}
